.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #fdfcfc ;
  position: relative;
  margin: 0 auto;
  border: 10px solid #805454;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  place-content: center;
  justify-content: center;
  display: flex;
}

.dot {
  width: 14px;
  height: 14px;
  background-color: #887b7b;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}

.hour {
  position: absolute;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 1.5;
  border-radius: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #080808;
  font-family:
}

.twelve {
  top: 10px;
  left: 46%;
}

.one {
  top: 10%;
  right: 25%
}

.eleven {
  top: 10%;
  left: 26%;
}
  
.two {
  top: 25%;
  right: 10%;
}

.three {
  top: 44.5%;
  right: 10px;
}

.four {
  right: 30px;
  top: 64%;
}

.five {
  right: 75px;
  top: 80%;
}

.six {
  bottom: 10px;
  left: 45%;
}

.seven {
  left: 76px;
  top: 80%;
}

.eight {
  left: 30px;
  top: 64%;
}

.nine {
  left: 10px;
  top: 45%;
}

.ten {
  left: 10%;
  top: 24%;
}

.second-hand {
  position: absolute;
  z-index: 8;
  width: 2px;
  height: 125px;
  background-color: rgb(163, 1, 1);
  top: 26px;
  left: 50%;
  transform-origin: 50% 125px;
  margin-left: -1px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.hour-hand {
  position: absolute;
  z-index: 7;
  width: 4px;
  height: 65px;
  background-color: #0c0c0c;
  top: 79px;
  left: 50%;
  transform-origin: 50% 72px;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.minute-hand {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 100px;
  background-color: #0c0c0c;
  top: 46px;
  left: 50%;
  transform-origin: 50% 105px;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.logo {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #0c0c0c;
  box-shadow: 0 0 10px rgba(248, 246, 246, 0.5);
  height: 40px;
  width: 40px;
}

.date {
  position: absolute;
  top: 65px;
  left: 51%;
  transform: translateX(-50%);
  background-color: #f5f0f0;
  border: 2px solid #0c0c0c;
  box-shadow: 0 0 10px rgba(107, 24, 24, 0.5);
  border-radius: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #4b0c01;
}

.day {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  place-content: center;
  top: 47%;
  height: 18px;
  right: 16px;
  transform: translateX(-50%);
  background-color: #050505;
  border: 1px solid #0c0c0c;
  border-radius: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: semi-bold;
  color: #f6f7f2;
  padding: 0 2px;
  z-index: 1;
}

.AMPM {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  place-content: center;
  top: 47%;
  left: 60px;
  height: 18px;
  transform: translateX(-50%);
  background-color: #070707;
  border: 1px solid #0c0c0c;
  border-radius: 10%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: semi-bold;
  color: #f6f7f3;
  padding: 0 2px;
  z-index: 1;
}



